body, h1,p, img{
    color: wheat;
    background-image: url("Images/background.jpg");
    text-align: center;
}
img {
    width: 40%;
    height: 40%;
    display: block;
    margin: auto;
    border-radius: 30%;
    box-shadow: 20px 20px 50px 10px black;
}
/* Responsive pour mobiles */
@media (max-width: 480px) {
    img {
      width: 100%; /* Taille plus petite pour les mobiles */
      height: 100%;
    }
  }